<form action="." method="post">
    {% csrf_token %}
    <div class="text-center" style="margin-top: 15px;">
        <h3>Журналы преподавателей, период: {{ d_left|date:'d-m-Y' }}
            <-> {{ d_right|date:'d-m-Y' }} </h3>
    </div>

    <div class="row" style=" margin: auto;">
        <label style="margin-bottom: 0;">
        <h5 style="margin-bottom: 0;">Преподаватель: </h5></label>
        {{ form.teacher }}
    </div>
    <div class="row">
        <input class="btn btn-lg btn-outline-dark btn-secondary text-button "
               style="margin-top: 15px; margin-left: 15px; margin-bottom: 15px; color: #fff ; font-weight: 400;"
               type="submit" value="Посмотреть Журналы">
    </div>

    {% block table_schedule %}
        {% include "journal/table_journal_manager.html" %}
    {% endblock %}
</form>
